.headings_Red {
  color: red;
}
.beige1 {
  background-color: beige;
}

#LondonID {
    background-color: pink;
}

span {
   padding-left: 5px;
   padding-right: 5px; 
   border-top: 2px solid black;
   border-bottom: 4px solid grey;
}

.SpanExample {
    border: 10px ridge lightgreen
}